#diag{
    margin: 20px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
}
#diag1{
    margin: 20px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
    
}